h1 {
    font-family: Cursive, Verdana, sans-serif;
    color: #576D94;
    
}

p {
    font-size: 18px;
    color: #4A4943;
    font-family: Garamond, serif;
}

img {
    height: 100px;
    width: 300px;
    border: 1px solid #4682b4;
}

a {
    text-decoration: none;
    color: #cc0000;
}